<html lang="en">
<%- include ('./partials/header.ejs') %>
<body>
    
    <form action="login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>

    <a href="/signup">Sign up</a>
</body>
</html>