<html lang="en">
<%- include ('./partials/header.ejs') %>
<body>
    
    <form action="/signup" method="post">
        <input type="text" name="Name" placeholder="Name">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="bankAccount" placeholder="Bank ID">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <a href="/">Go back</a>

</body>
</html>